@model Membership_Registration_Update.Models.Regstatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Regstatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Refcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.statusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
